*
::after
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(225, 225, 225);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

h1 {
    padding-top: 5rem;
    text-align: center;
}
.cal-container, h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;

}

span {
    color: blue;
    text-decoration: underline blue;
}

button{
    color: black;
    background-color: rgb(84, 185, 185);
}

input {
    max-height: 1rem;
    width: auto;

}